html,
body {
    height: 100%;
    background-color: azure;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

/* Resto de tus estilos para el header */
header {
    display: flex;
    align-items: center;
    justify-content: center;

    background: black;
    height: 70px;
    border: 2px;
    padding: 8px;
    border-radius: 15px;
    margin-top: 2%;
}

header ul {
    cursor: pointer;
    font-family: Arial;
    margin: 0;
    padding: 10px;
    list-style: none;
}

header ul li {
    display: inline-block;
    margin: 7px;
    padding: 7px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

header ul li:hover {
    background: green;
    border-radius: 5px;
    color: #FFF;
    animation: rubberBand 0.9s;
    -webkit-animation: rubberBand 0.9s;
}

header ul li:hover a {
    color: white;
}

/* Estilo de la bolsa  */

#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    width: 75%;
    padding: 0;

    padding: 8px;
}

input[type="checkbox"] {
    width: 30px;
}


.formEditarAlu {

    display: grid;
    grid-template-columns: 6fr 1fr;
    justify-content: space-between;
    justify-items: center;
    /* Alinea los elementos con espacio entre ellos */
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    /* Ajusta según sea necesario */
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #b3e6ff;
    border-radius: 15px;
}

.divCheck {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: center;
}

.formularioAlumnoBolsa {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}

.formularioAlumnoBolsa label {
    font-weight: bold;
    width: 100%;
}

.formularioAlumnoBolsa input {
    width: 100%;
    border-radius: 5px;
}


.formularioAlumnoBolsa label {
    margin-bottom: 5px;
}

.formularioAlumnoBolsa input {
    margin-bottom: 10px;
}

.divBoton {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.divBoton img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.botonProcesa {
    margin-top: 10px;
    /* Ajusta según sea necesario para agregar espacio entre el formulario y el botón */
    padding: 8px;
    background-color: #1e5daa;
    /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.botonEditar:hover {
    background-color: #45a049;
    /* Cambia el color de fondo al pasar el mouse sobre el botón */
}

.contenedorContra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2%;
    background-color: #6dd472;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.contenedorContra lb {
    padding: 10px;
    font-family: 37px;
    font-weight: bolder;
    color: #0b5017;
}

.contenedorContra button {
    padding: 10px;
    margin: 25px;
    padding: 15px;
    background-color: #08691a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contenedorContra input {
    padding: 10px;
    margin-top: 5%;
    width: 50%;
    border-radius: 5px;
}

/*Titulaciones   */

.divTitulacion {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5%;
    background-color: #7267b4;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

/* Ofertas */
.divOferta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    width: 400px;
    padding: 4%;
    background-color: #75caff;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.divOferta .selectoption {
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #3137d7;
    border-radius: 4px;
    background-color: #9edee6;
    appearance: none;
    cursor: pointer;
}

/* Estilo para las opciones del select */
option {
    padding: 8px 10px;
    font-size: 16px;
    background-color: #ffffff;
}

/* Estilo para las opciones cuando están seleccionadas */
option:checked {
    background-color: #e0e0e0;
}

.btnOferta {
    background-color: #005dab;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    margin: 1.25rem;
    border-radius: 15px;
    cursor: pointer;
}

.mostrarAlumnos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #75caff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 1.25rem;
}

/* tabla de alumnos ofertados  */
.mostrarAlumnos td {
    border: 1px solid #ddd;
    /* Borde de celdas */
    padding: 8px;
    /* Espaciado interno de celdas */
    text-align: left;
    /* Alineación de texto */
}



.mostrarAlumnos tr:nth-child(even) {
    background-color: #e0eef5;
    cursor: pointer;

}

.mostrarAlumnos tr:nth-child(odd) {
    background-color: #c8f2f7;
    cursor: pointer;
}

.mostrarAlumnos tr:hover {
    background-color: #40b6d3;
}





/* -----------  Contratos --------------  */
.divSolicitudes {
    margin-top: 0;
    ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #b6abf2;
    padding: 20px;
    margin: 30px;
    ;

}

.filaAlumno {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

.tablaSolicitud {
    margin: 15px;
    border-radius: 15px;
}

.tablaSolicitud tr {

    border-radius: 15px;
}

.tablaSolicitud .filaAlumnos tr:hover {

    background-color: #6f5ed0;
}

.tablaSolicitud td {

    border-radius: 15px;
}

.btnContrato {
    background-color: #3a27a8;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0.75rem;
    font-weight: bolder;
    cursor: pointer;
}

/*  FCTS  */

.divFCT {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    background-color: #76ffb9;
    border-radius: 15px;
    /* height: 650px; */
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    /* Sombra */
    /* width: 650px; */
}

.selectModalidades {
    /* Estilos para el select */
    width: 200px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #ccc;
    background-color: #b5c7ba;
    border-radius: 10px;
}

.selectModalidades option {
    background-color: #f2f2f2;
    /* Color de fondo */
    font-size: 14px;
}

.divFCT button,
.divAlumFct button {
    cursor: pointer;
    color: white;
    font-weight: bolder;
    background-color: #00cc66;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.8rem;
    border-radius: 15px;
    margin-top: 15px;
}

.divFCT button:hover,
.divAlumFct button:hover {
    background-color: #0a713f;

}

/* Muestra de los alumnos   */

.divAlumFct {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: #76ffb9;
    margin:3%;
    width: 80%;
    padding: 15px;
    border-radius: 15px;
}


/* Estilo de la tabla alumnos FCTS   */
.tAlumFcts {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
}

.tAlumFcts th,
.tAlumFcts td {
    border: 1px solid #ddd;
    /* Borde de celdas */
    padding: 8px;
    /* Espaciado interno de celdas */
    text-align: left;
    /* Alineación de texto */
}

.tAlumFcts th {
    background-color: #f2f2f2;
}

.tAlumFcts tr:nth-child(even) {
    background-color: #f2f2f2;
    cursor: pointer;

}

.tAlumFcts tr:nth-child(odd) {
    background-color: #cdecd5;
    cursor: pointer;
}

.tAlumFcts tr:hover {
    background-color: #74bf87;
}