.mensajeError {
    color: #ff1a1a;
}

dialog {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* position: fixed; Cambiado a fixed */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialogMensaje {

    background-color: rgb(229, 246, 228);
    border: 5px solid rgb(17, 240, 25);
}

/* Dialogo de advertencia   */
.dialogoInforma {
    background-color: #fffae6;
    border: 5px solid #ffd11a;
}

.dialogoInforma button{
    width: 50%;
    border-radius: 10px;
    height: 40px;
    color:#353404;
    font-weight: bolder;
    font-size: 18px;
    background-color: #f2ee11;
    cursor: pointer;

}






dialog h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.dialogInfo h1 {
    color: #0755ee;
}

.dialogInfo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #b8dfff;
    border: 5px solid #123f9a;
}

.dialogInfo button {
    cursor: pointer;
    margin: 5px;
    background-color: #0755ee;
    color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
}

.botonesDia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.75rem;
}


.dialogMensaje h1 {
    color: rgb(11, 202, 139);
}

/*De forma predeterminada está de forma de exxito  */
.dialogMensaje button {

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 130px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: rgb(115, 215, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: pointer;
}


.blur {

    filter: blur(2px);
    pointer-events: none;
}